/* app/static/css/style.css */

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles Globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Conteneur Principal */
main {
    flex: 1;
    padding: 10px;
    max-width: 390px;
    margin: 0 auto;
}

/* Header et Navigation */
header {
    background-color: #004080;
    padding: 10px 0;
}

nav {
    flex-direction: column;
    align-items: flex-start;
    display: none; /* Cache le menu par défaut */
    padding: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

nav .welcome {
    margin: 10px 0;
    font-size: 16px;
    color: #ffcc00;
}

.menu-toggle {
    display: block; /* Affiche le bouton toggle par défaut (mobile) */
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}

nav.open {
    display: flex; /* Affiche le menu quand la classe "open" est ajoutée */
}

/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

nav .welcome {
    margin-left: auto;
    margin-right: 15px;
    font-size: 16px;
    color: #ffcc00;
} */

/* Footer */
footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* Titres */
h1, h2, h3 {
    margin-bottom: 15px;
    color: #004080;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

/* Paragraphes */
p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

/* Formulaires */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 20px auto;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button,
form input[type="submit"] {
    background-color: #004080;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;

}

form button:hover,
form input[type="submit"]:hover {
    background-color: #003060;
}

/* home */

.title-home {
    text-align: center;
}

.header-section-bg {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 500px;
}

.filter-header {
    width: 100%;
    height: 500px;
    background-color: rgba(255,117,117,0.17);
    display: flex;
    flex-direction: column;
}

.filter-header .title {
    font-size: 17px;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    color: #FFFF;
    text-align: center;
    padding: 50px 0 50px;
}

.btn-cta {
    display: flex;
    justify-content: center;
}

/* login - register */
.accept-terms {
    display: flex;
    align-items: center;
    font-weight: normal;
}

.accept-terms label {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: inherit;
}

.link-account {
    margin: 0 auto;
}

/* Messages Flash */
.flashes {
    list-style: none;
    padding: 10px;
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flashes, li.success {
    background-color: #d4edda;
    color: #155724;
}

.flashes, li.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flashes, li.info {
    background-color: #d1ecf1;
    color: #0c5460;
}

/* Boutons */
button {
    /* background-color: #28a745; */
    background-color: rgba(255,117,117,1);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    /* background-color: #218838; */
    background-color: rgba(255,90,90,1);
}

button.danger {
    background-color: #dc3545;
}

button.danger:hover {
    background-color: #c82333;
}

/* Listes et Tables */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    /* background-color: #fff; */
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Cart and Offers */
.offer,
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer img,
.cart-item img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.offer-details,
.cart-item-details {
    flex: 1;
}

/* offers */

.offres-container {
    display: flex;
    flex-direction: column; /* Par défaut, les éléments s'empilent en colonne */
    gap: 16px; /* Espace entre les éléments */
}

.offre-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    flex: 1 1 100%; /* Par défaut, les éléments prennent 100% de la largeur */
}


/* tickets */

.offre-item img {
    width: 100%;
}

/* profile */

.user-info button {
    margin-left: 20px;
}

.btn-blue {
    background-color: #004080;
}

.btn-blue:hover {
    background-color: #003060;
}

@media screen and (min-width: 550px) {
    .filter-header .title {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    nav {
        display: flex; /* Affiche le menu en ligne sur les grands écrans */
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav a {
        margin: 0 15px;
    }

    nav .welcome {
        margin-left: auto;
        margin-right: 15px;
    }

    .menu-toggle {
        display: none; /* Cache le bouton toggle sur les grands écrans */
    }

    /* offres */
    .offres-container {
        flex-direction: row; /* Les éléments s'affichent en ligne */
        flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    }

    .offre-item {
        flex: 1 1 calc(33.33% - 32px); /* Ajuste la largeur des éléments à 1/3 de la largeur du conteneur, en laissant de l'espace */
        box-sizing: border-box;
    }

    .offres-main h3 {
        text-align: center;
    }

    .offres-main .offre-item {
        width: 350px;
    }

    .offres-main .offre-item .offre-description {
        min-height: 225px;
    }
}

@media screen and (min-width: 990px) {

    .filter-header {
        flex-direction: row;
        gap: 60px;
    }

    .filter-header .title {
        display: flex;
        align-items: center;
        padding: 50px;
    }

    .btn-cta{
        align-items: center;
    }
    .btn-cta button {
        height: 48px;
    }
}

@media screen and (min-width: 1100px) {
    .filter-header {
        gap: 190px;
    }
}

@media screen and (min-width: 1200px) {
    .filter-header {
        gap: 335px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    form {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.25em;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 14px;
        margin: 8px 0;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form textarea,
    form select {
        padding: 8px;
    }

    form button,
    form input[type="submit"] {
        padding: 8px 12px;
        font-size: 0.9em;
    }

    .offer img,
    .cart-item img {
        max-width: 80px;
    }
}

@media screen and (min-width: 600px) {
    main {
        flex: 1;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 768px;
    }
}

@media screen and (min-width: 990px) {
    main {
        max-width: 990px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}