<!-- app/templates/admin/edit_user.html -->
{% extends "admin/base_admin.html" %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block header %}Modifier l'utilisateur{% endblock %}

{% block content %}
<h2>Modifier l'utilisateur {{ user.firstname }} {{ user.lastname }}</h2>
<form method="POST" action="{{ url_for('admin.edit_user', user_id=user.id) }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.firstname.label }}<br>
        {{ form.firstname(size=32) }}<br>
        {% for error in form.firstname.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.lastname.label }}<br>
        {{ form.lastname(size=32) }}<br>
        {% for error in form.lastname.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.is_admin.label }}<br>
        {{ form.is_admin() }}<br>
        {% for error in form.is_admin.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}