<!-- app/templates/admin/manage_offers.html -->
{% extends "admin/base_admin.html" %}

{% block title %}Gérer les offres{% endblock %}

{% block header %}Gestion des offres{% endblock %}

{% block content %}
<h2>Liste des offres</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Stripe Price ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>{{ offer.id }}</td>
            <td>{{ offer.name }}</td>
            <td>{{ offer.description }}</td>
            <td>{{ offer.price }}</td>
            <td>{{ offer.stock }}</td>
            <td>{{ offer.stripe_price_id }}</td>

            <td>
                <a href="{{ url_for('admin.edit_offer', offer_id=offer.id) }}">Modifier</a> |
                <form action="{{ url_for('admin.delete_offer', offer_id=offer.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');" style="background:none;border:none;color:blue;cursor:pointer;">
                        Supprimer
                    </button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin.create_offer') }}">Ajouter une nouvelle offre</a>
{% endblock %}