<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jeux Olympiques 2024{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('main.home') }}">Accueil</a>
            <a href="{{ url_for('main.offers') }}">Offres</a>
            <a href="{{ url_for('main.panier') }}">Panier</a>
            {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
            <a href="{{ url_for('admin.dashboard') }}">Admin</a>
            {% endif %}
            {% if current_user.is_admin == false %}
            <a href="{{ url_for('main.ticket') }}">Vos Tickets</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
            <a href="{{ url_for('main.profile') }}">Profil</a>
            <span style="color:beige">Bienvenue, {{ current_user.firstname }} {{ current_user.lastname }}</span>
            {% else %}
            <a href="{{ url_for('auth.login') }}">Connexion</a>
            <a href="{{ url_for('auth.register') }}">Inscription</a>
            {% endif %}

        </nav>
    </header>
        {% block header %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Jeux Olympiques à Paris</p>
    </footer>
</body>
<script src="../static/js/cart.js"></script>
</html>