{% extends "base.html" %}

{% block title %}Inscription{% endblock %}
{% block content %}

<main class="offres-main">
    <h2>Liste des Offres</h2>

    {% if offers %}
    <div class="offres-container">
        {% for offre in offers %}
        <div class="offre-item">
            <h3>{{ offre.name }}</h3>
            <p class="offre-description">{{ offre.description }}</p>
            <p>Prix : {{ offre.price }} €</p>
            <form action="{{ url_for('main.add_to_cart', offer_id=offre.id) }}" method="post">
                <button type="submit" class="add-to-cart-button" data-offer-id="{{ offre.id }}">Ajouter au panier</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Aucune offre disponible pour le moment.</p>
    {% endif %}
</main>

{% endblock %}