{% extends "base.html" %}

{% block title %}Inscription{% endblock %}
{% block content %}
<h1>Profil de l'utilisateur</h1>
<p>Bienvenue sur votre page de profil.</p>

{% if user %}
<table class="user-info">
    <tbody>
        <tr>
            <td>Nom</td>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Mot de passe</td>
            <td>
                <span>**********</span>
                <button class="btn btn-warning btn-blue" onclick=redirectToEditPassword()>Modifier</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-secondary btn-blue" onclick=redirectToEditProfile()>Modifier le profil</button>

{% endif %}
{% endblock %}