{% extends "base.html" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
<h1>Réinitialiser le mot de passe</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form method="POST">
    {{ form.hidden_tag() }}
    <label for="email">Adresse e-mail</label>
    {{ form.email(class="form-control") }}  <br><br>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
