{% extends "base.html" %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
<h1>Changer votre mot de passe</h1>
<form method="POST" action="{{ url_for('main.reset_password', token=token) }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.new_password.label() }}
        {{ form.new_password(class='form-control') }}
        {% if form.new_password.errors %}
            <ul>
            {% for error in form.new_password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.confirm_password.label() }}
        {{ form.confirm_password(class='form-control') }}
        {% if form.confirm_password.errors %}
            <ul>
            {% for error in form.confirm_password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>


{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

