<section class="section-swiper">
    
    <div class="swiper mySwiper container">
      <div class="swiper-wrapper content">
        <div class="swiper-slide card">
            <div class="bg-card bg-1">
                <div class="card-content">
                        <div class="image-text">Natation</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-2">
                <div class="card-content">
                        <div class="image-text">Tennis</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-3">
                <div class="card-content">
                        <div class="image-text">Baseball</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-1">
                <div class="card-content">
                        <div class="image-text">Natation</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-2">
                <div class="card-content">
                        <div class="image-text">Tennis</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-3">
                <div class="card-content">
                        <div class="image-text">Baseball</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-1">
                <div class="card-content">
                        <div class="image-text">Natation</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-2">
                <div class="card-content">
                        <div class="image-text">Tennis</div>
                </div>
            </div>
          </div>
          <div class="swiper-slide card">
            <div class="bg-card bg-3">
                <div class="card-content">
                        <div class="image-text">Baseball</div>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </section>

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="../static/js/swiper.js"></script>